{% extends 'base.html' %}
{% load static %}
{% block body %}
  <body>    
<!--dog section starts-->
<div class="container mt-4">
    <h1 class="text-center">Dogs</h1>
    <div class="content-section row row-cols-1 row-cols-md-3 g-4">
      {% for dog in dogs %}      
      <div class="col">
        <div class="card">
          <img src="{{dog.p_image.url}}" class="card-img-top"  alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">{{dog.p_name}}</h5>
            <p class="card-text text-center">{{dog.p_description}}</p>
          </div> 
          </div>
        </div>
      </div>      
      {% endfor %}
   
    </div>
</body>
{% endblock body %}