{% extends 'base.html' %}
{% block body %}

    <body>
        <h1 class="text-center">Register Page</h1>
        <div class="container pd-1">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="card">
                        <div class="card-body">
                                                     
                            <form class="register" action="{% url 'Webapp:Register' %}" method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">User Name</label>
                                    <input type="text" class="form-control" name ="uname" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                                    
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">First Name</label>
                                    <input type="text" class="form-control" name="fname" id="exampleInputEmail1" aria-describedby="emailHelp" required>                                  
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">LastName</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" name="lname" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" required>
                                    
                                    
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="exampleInputEmail1" name="password" aria-describedby="emailHelp" required>
                                    
                                </div>
                           
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                                    <label class="form-check-label text-warning" for="exampleCheck1" name="check"><b>Confirm Details</b></label>
                                </div>
                                <button type="submit" class="btn btn-primary">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock body %}